<div class="ui left fixed vertical medium labeled icon menu">
	<div class="item" id="main_heading">
		<h1 class="main_heading">
			Laze
		</h1>
	</div>
	<br>
	<br>
	<br>
	<br>
	<a class="item">
		<i class="fab fa-reddit fa-3x" id="reddit"></i>
	</a>
	<a class="item">
		<i class="fab fa-hacker-news-square fa-3x" id="hackernews"></i>
	</a>
	<a class="item">
		<i class="fab fa-product-hunt fa-3x" id="producthunt"></i>
	</a>
	<a class="item">
		<i class="far fa-newspaper fa-3x" ></i>
	</a>
	<a class="item">
		<i class="fab fa-youtube fa-3x" id="youtube"></i>
	</a>
	<a class="item">
		<i class="fab fa-medium-m fa-3x" id="medium"></i>
	</a>
	<a class="item">
		<i class="fab fa-twitter fa-3x" id="twitter"></i>
	</a>
	<a class="item">
		<i class="fab fa-github fa-3x"></i>
	</a>
	<br>
	<br>
	<br>
	<br>
	<a class="item">
		<img src="https://i.imgur.com/fv6hbiY.png" class="ui tiny image">
	</a>
</div>
{{outlet}}