<div class="ui left fixed vertical medium labeled icon menu">
	<div class="item" id="main_heading">
		<h1 class="main_heading">
			Laze
		</h1>
	</div>
	<br>
	<br>
	<br>
	{{#link-to "reddit" class="item"}}
		<i class="fab fa-reddit fa-3x" id="reddit"></i>
	{{/link-to}}
	{{#link-to "hacker-news" class="item"}}
		<i class="fab fa-hacker-news-square fa-3x" id="hackernews"></i>
	{{/link-to}}
	{{#link-to "product-hunt" class="item"}}
		<i class="fab fa-product-hunt fa-3x" id="producthunt"></i>
	{{/link-to}}
	{{#link-to "news" class="item"}}
	  <i class="far fa-newspaper fa-3x"></i>
	{{/link-to}}
	{{#link-to "youtube" class="item"}}
		<i class="fab fa-youtube fa-3x" id="youtube"></i>
	{{/link-to}}
	{{#link-to "medium" class="item"}}
		<i class="fab fa-medium-m fa-3x" id="medium"></i>
	{{/link-to}}
	{{#link-to "twitter" class="item"}}
		<i class="fab fa-twitter fa-3x" id="twitter"></i>
	{{/link-to}}
	{{#link-to "github" class="item"}}
		<i class="fab fa-github fa-3x"></i>
	{{/link-to}}
	<br>
	<br>
	<br>
	<br>
	<a class="item" href="https://zubeirtech.herokuapp.com" target="_blank">
		<i class="copyright icon"></i>
		Zubeirtech
	</a>
</div>
{{outlet}}